.form {
    position: fixed;
    z-index: 100;
    width: 40%;
    height: 50%;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 60%;
    height: 60%;
    margin: 20px auto;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    .position {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        textarea {
            margin-top: 20px;
            resize: none;
            width: 60%;
            height: 50%;
        }
        button {
            margin-top: 20px;
            background-color: rgb(124, 203, 170);
            color: rgb(240, 235, 235);
            width: 30%;
            height: 40px;
            border: none;
            border-radius: 5px;
            font-size: 14px;
            font-weight: 600;
        }
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            margin-top: 20px;
            text-align: center;
            background-color: rgb(125, 127, 126);
            color: rgb(240, 235, 235);
            width: 30%;
            height: 40px;
            border: none;
            border-radius: 5px;
            font-size: 14px;
            font-weight: 600;
        }
    }
}

.delete {
    position: fixed;
    z-index: 10;
    width: 40%;
    height: 50%;
    top: 270px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 60%;
    height: 60%;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    .position {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        textarea {
            margin-top: 20px;
            resize: none;
            width: 60%;
            height: 50%;
        }
        button {
            margin-top: 20px;
            background-color: rgb(245, 74, 65);
            color: rgb(240, 235, 235);
            width: 30%;
            height: 40px;
            border: none;
            border-radius: 5px;
            font-size: 14px;
            font-weight: 600;
        }
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            margin-top: 20px;
            text-align: center;
            background-color: rgb(125, 127, 126);
            color: rgb(240, 235, 235);
            width: 30%;
            height: 40px;
            border: none;
            border-radius: 5px;
            font-size: 14px;
            font-weight: 600;
        }
    }
}
