body {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}

.signUp {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px -1px 17px 5px #e6e6e5;
    width: 50%;
    margin: 150px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    form {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        .label {
            display: flex;
            align-items: center;
        }
        p {
            line-height: 15px;
            font-weight: 600;
            height: 16px;
            margin-right: 10px;
        }
        .error {
            font-size: 12px;
            font-weight: 500;
            color: rgb(235, 81, 81);
        }
        input {
            width: 300px;
            height: 35px;
            font-size: 15px;
            border-radius: 5px;
            border: 1px solid rgba(158, 157, 157, 0.2);
            padding-left: 15px;
        }
        .red {
            border: 1px solid rgb(235, 81, 81);
        }
        button {
            margin-top: 20px;
            background-color: rgb(124, 203, 170);
            color: rgb(240, 235, 235);
            width: 30%;
            height: 40px;
            border: none;
            border-radius: 5px;
            font-size: 14px;
            font-weight: 600;
        }
    }
}
